<app-order></app-order>

<div ng-app="mainApp" ng-controller="studentController">
  <table border="0">
    <tr>
      <td>ID</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Date</td>
      <td>ZipCode</td>
    </tr>
    <tr>
      <td><a id="./search.Component.html" href="/view">001</a></td>
      <td>Aish</td>
      <td>Dubey</td>
      <td>01/12/2011</td>
      <td>95118</td>
    </tr>
    <tr>
      <td>
        <a id="./search.Component.html" href="/view">001</a>
      </td>
      <td>Aish</td>
      <td>Dubey</td>
      <td>01/12/2011</td>
      <td>95118</td>
    </tr>
    <tr>
      <td><a id="./search.Component.html" href="/view">001</a></td>
      <td>Aish</td>
      <td>Dubey</td>
      <td>01/12/2011</td>
      <td>95118</td>
    </tr>
  </table>
</div>
