<body class="text-center">
<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">OMS Login</h1>
  </div>
  <div class="form">
    <label for="inputEmail">Username: </label>
    <input type="username" id="username" class="form-control" placeholder="Username" required [pattern]="'^[a-zA-Z0-9 \'\-]+$'" 
    oninvalid="this.setCustomValidity('Please enter a username only consisting of alphanumeric characters')" oninput="setCustomValidity('')">
    
  </div>
  <div class="form">
    <label for="inputPassword">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required [pattern]="'^[a-zA-Z0-9 \'\-]+$'"
    oninvalid="this.setCustomValidity('Please enter a password only consisting of alphanumeric characters')" oninput="setCustomValidity('')">
    
  </div>


  <button class="" type="Sign in">Sign in</button>
 
</form>
</body>