<app-order></app-order>
<div class="container" style="padding-top: 80px">
  <div class="row">
    <div class="col-lg-6 mb3">
      <ng-select
        [items]="itemList"
        [multiple]="true"
        [closeOnSelect]="false"
        [clearSearchOnAdd]="true"
        [clearOnBackspace]="true"
        [selectOnTab]="true"
        dropdownPosition="bottom"
        bindLabel="shortdescription"
        placeholder="Select Items"
        [(ngModel)]="selectedItems"
      >
        <ng-template ng-header-tmp>
          <div>
            <button class="btn btn-link" (click)="onSelectAll('item')">
              Select All
            </button>
            <button class="btn btn-link" (click)="onClearAll('item')">
              Clear All
            </button>
          </div>
        </ng-template>
      </ng-select>
    </div>
    <div class="col-lg-6 mb3">
      <ng-select
        [items]="shipNodeList"
        [multiple]="true"
        [closeOnSelect]="false"
        [clearSearchOnAdd]="true"
        [clearOnBackspace]="true"
        [selectOnTab]="true"
        dropdownPosition="bottom"
        bindLabel="locationname"
        placeholder="Select ShipNodes"
        [(ngModel)]="selectedShipNodes"
      >
        <ng-template ng-header-tmp>
          <div>
            <button class="btn btn-link" (click)="onSelectAll(shipnode)">
              Select All
            </button>
            <button class="btn btn-link" (click)="onClearAll(shipnode)">
              Clear All
            </button>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="search()">
    Search
  </button>
</div>
