table {
  width: 50%;
  margin-left: 350px;
  margin-right: 300px;
  margin-bottom: 300px;
  margin-top: 300px;
  box-align: center;
  text-align: center

  
}

th{
  color: rgb(31, 31, 32);
  align-content: center;
  text-align: center;
  align-self: center;

}

td {
  
  text-align: center;
  font-size: 14px;
  min-height: 100px;
  

  margin-left: 35%;
  margin-right: 20%;
  
  
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f7f3f3;
}
