<app-order></app-order>

<app-order></app-order>

<div ng-app="mainApp" ng-controller="studentController">
  <table border="0">
    
        <tbody>
                <tr>
                  <th>First Name:Aishwarya</th>
                  <th>Dubey</th>
                  <th>TOTAL AMOUNT:1870</th>
                </tr>
              </tbody>
              <tbody>
                    <tr>
                      <th>Aishwarya</th>
                      <th>Dubey</th>
                      <th>TOTAL AMOUNT:1870</th>
                    </tr>
                  </tbody>
                  <tbody>
                <tr>
                  <th>Aishwarya</th>
                  <th>Dubey</th>
                  <th>TOTAL AMOUNT:1870</th>
                </tr>
              </tbody>
        
    
    
  </table>
</div>
