table,
td {
  text-align: left;

  margin-left: 35%;
  margin-right: 20%;

  margin-top: 15%;

  border: 5px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
