table {
  width: 100%;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid black;
}

.mat-header-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div {
  background-color: lightgray;
}
